<div ng-include="'/views/partials/nav.html'" ng-controller="NavController as vm"></div>
<div ng-controller="HomeController as vm">
 
     <form id="search-parameters" ng-submit="vm.sendGenre(type, genre)" ng-hide="display">
    <div class="btn-group" uib-dropdown id="type">
      <button id="single-button type" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{vm.typeButton.name}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" id="header-brands" uib-dropdown-menu role="menu" aria-labelledby="type">
        <li role="presentation" select-val="selected_type = selectedVal" preselected-item="selected_type" data-dropdown-data="types"
          ng-repeat="type in vm.types">
          <a role="menuitem" ng-click="vm.typeSelect(type)" tabindex="-1"  href="#">{{type.name}}</a>
      </ul>
    </div>


    <div class="btn-group" uib-dropdown  id="genre">
      <button id="single-button genre" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{vm.genreButton.name}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" id="header-stuff" uib-dropdown-menu role="menu" aria-labelledby="genre">
        <li role="presentation" ng-repeat="genre in vm.genres">
          <a role="menuitem" tabindex="-1" ng-click="vm.genreSelect(genre)" href="#">{{genre.name}}</a>
      </ul>
    </div>


    <button type="submit" ng-click="display=true" class="btn btn-lg btn-primary">Go</button>
  </form>
  <div style="overflow-x:auto;" ng-show="display">

    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-search"></i>
          </div>
        </div>
      </div>
    </form>

    <table class="table table-bordered table-striped">

      <thead>
        <tr>
          <th>
              Title
            </a>
          </th>
          <th>
              Genre
          </th>
          <th>
              Synopsis
          </th>
          <th>
              Director
          </th>
          <th>
              Cast
          </th>
          <th>
              Year
          </th>
          <th>
              Freshness
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="film in vm.films.list">
          <td>
            <a ng-href="#!/titledetails/{{film.imdbID}}">{{film.Title}}</a>
          </td>
          <td>{{film.Genre}}</td>
          <td>{{film.Plot}}</td>
          <td>{{film.Director}}</td>
          <td>{{film.Actors}}</td>
          <td>{{film.Year}}</td>
          <td>{{film.Ratings[1].Value}}</td>
        </tr>
      </tbody>
    </table>
    <ul ng-if="vm.pager.pages.length" class="pagination">
      <li ng-class="{disabled:vm.pager.currentPage === 1}">
        <a ng-click="vm.setPage(1)">First</a>
      </li>
      <li ng-class="{disabled:vm.pager.currentPage === 1}">
        <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
      </li>
      <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
        <a ng-click="vm.setPage(page)">{{page}}</a>
      </li>
      <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
        <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
      </li>
      <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
        <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>
</div>